html, body {
	margin: 0;
	padding: 0;
	background-color: #F5F5F5;
}

input, a {
    outline: none !important;
}

header {
    width: 100%;
    background-color: #004b8c;
    color: #ffffff;
	line-height: 60px;
    position: fixed;
    top: 0;
    z-index: 995;
}

.headButton {
	color: #ffffff !important;
	display: inline-block;
	line-height: 60px;
	vertical-align: middle;
	padding: 0 15px;
}
.headButton i {
	display: inline-block;
	line-height: 60px;
	float: left;
	vertical-align: middle;
}
.header-title {
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	width: calc(100% - 58px);
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	padding-right: 16px;
}
section {
	margin-top: 60px;
	padding-bottom: 60px;
}
  .pinned {
    position: fixed !important;
  }
        

#slide-out {
	z-index: 1000;
}
#sidenav-overlay {
	z-index: 996;
}
.card-image .little-description {
    position: absolute;
    color: white;
    bottom: -52px;
    left: 12px; 
}
.card-title {
	color: #ffffff;
}

section .row {
    width: 100%;
    margin: 0;
    padding: 0;
}
.inContainer {
    width: 100%;
    margin: 0;
    padding: 0 !important;

}

.card {
	margin: 0;
}
.card-title {
    color: #fff;
    position: absolute;
    bottom: 23px;
    left: 0;
    padding: 0 20px;
	box-sizing: border-box;
	width: 100%;
	z-index: 2;
}
.card-title a {
	color: #ffffff;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.card-title span {
	display: block;
    font-size: 14px;
}
.grad {
	width: 100%;
    height: 130px;
	position: absolute;
	bottom: 0;
	z-index: 1;
	background: linear-gradient(to top , rgba(0,0,0,0.9),rgba(0,0,0,0));
}
.radio-fixed {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 65px;
	background-color: #f2f2f2;	
	z-index: 1;
	background: linear-gradient(to right, #565656, #626262);
}



.radio-fixed .left	{
	display: inline-block;
	width: calc(100% - 74px);
	height: 100%;
}

.radio-fixed .left .imageContainer {
	position: relative;
	float: left;
	margin: 7px;
	border: 1px solid white;
	width: 50px;
	height: 50px;
}
.radio-fixed .left .imageContainer .title {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	color: white;
	background-color: rgba(0,0,0,.3);
}
.radio-fixed .left .text {
	float: left;
	width: calc(100% - 64px);
	height: 55px;
	margin: 5px 0;
}
.radio-fixed .left .text span {
	color: #ffffff;
	font-size: 15px;
}
.radio-fixed .left .text p {
	color: #ffffff;
	font-size: 12px;
	margin: 3px 0;
}
.radio-fixed .rightPlace {
	display: inline-block;
	width: 74px;
	font-size: 15px;
}
.radio-fixed .rightPlace .controls > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.radio-fixed .rightPlace .controls i {
	color: #ffffff;
    font-size: 68px;
}
.modalFill {
	max-height: 100% !important;
	height: 100%;
	background: linear-gradient(to bottom right, #19202a, #373f4c);
}

.modalFill .header	{
    width: 100%;
    height: 57px;
    margin: 5px 0;
}
.modalFill .header .left i {
    padding: 0 10px;
    float: left;
}
.modalFill .header .left i {

    color: white;
    font-size: 50px;

}
.modalFill .header .rightAlign {
    float: left;
    margin-left: 15px;
    width: calc(100% - 90px);
    height: 100%;
}
.modalFill .header .rightAlign 	.title {
	color: #ffffff;
}
.modalFill span{
	color: white;
	font-size: 15px !important;
}
.modalFill p{
	color: #ffffff;
	font-size: 12px;
	margin: 3px 0;
}
.modalFill .container {
	margin: 20px auto;
	height: 60%; 
	width: 80%;
}
.modalFill .imageContainer {
	width: 100%;
	height: 85%;
    overflow: hidden;
	background: rgba(255,255,255,0.2);
}

.modalFill .imageContainer img {
	width: 100%;
}
.modalFill .textContainer {
	text-align: center;
	margin: 12px 0;
}
.modalFill .timeDisplay	{
	text-align: center;
}
.modalFill .timeDisplay	span {
	text-align: center;
	font-size: 20px !important;
}
.modalFill .controls {
    position: absolute;
    bottom: 2px;
	width: 100%;
	text-align: center;
}
.modalFill .controls i {
	font-size: 60px;
	color: white;
	width: 60px;
	line-height: 60px;
	vertical-align: middle;
}
.modalFill .controls > a {
	display: inline-block;
    width: 60px; 
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
	text-align: center;
}

.modalFill .controls > a.disabled i {
	color: grey !important;
}

.modalFill .controls > a.small_skip i, .modalFill .controls > a.skip i {
	font-size: 40px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	color: transparent !important;
}


.post-intro {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}

.card-title a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	display: block;
	font-size: 20px;
}

.category-list {
	padding: 0 2px !important;
}

.category-list .category {
	background-size: cover;
	padding: 0 !important;
	margin: 2px !important;
	width: calc(50% - 4px) !important;
}
.category-list .category .title {
	display: block;
	width: 100%;
	float: left;
	height: 120px;
	line-height: 120px;
	vertical-align: middle;
	color: #FFF;
	text-align: center;
	text-transform: capitalize;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	background: rgba(0,0,0,0.3);
}

.input-field label {
	width: calc(100% - 1.5rem) !important;
}

.news-full h1.title {
	padding: 0;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 0;
}

.news-full h2.category {
	font-size: 16px;
	padding: 0;
	font-weight: bold;
	margin: 10px 0 0;
}

.news-full h3.date {
	font-size: 15px;
	font-weight: bold;
	padding: 0;
	margin: 10px 0 0;
}

.news-full p.news-text {
	font-size: 14px;
}

.news-full h1, .news-full h2, .news-full h3, .news-full p {
	color: #333;
}

.news-full .img-container {
	min-height: 100px;
}

.livevideo iframe {
	width: 100%;
	height: 300px;
	background: #000;
}

.livevideo h1 {
	font-size: 18px;
}

.livevideo .info-text {
	color: #333;
	font-weight: bold;
	font-size: 12px;
	padding: 0 15px !important;
}

.shows .show {
	padding: 7px;
}
.shows .card {
    height: 160px !important;
}
.shows .show .card-title {
	background: rgba(0,0,0,0.7);
	padding: 2px 10px;
	color: #FFF;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
}

.show-list img.show-image {
	width: 100%;
}

.show-image-wrapper {
	max-height: 250px;
	overflow: hidden;
	text-align: center;
	position: relative;
}

.show-item {
	padding: 10px 20px !important;
	border-bottom: 1px solid #AAA;
}

.show-item .item-title {
	color: #000;
	font-weight: bold;
}

.show-item .item-info {
	font-size: 12px;
	color: #777;
}

.inContainer .card.loading {
	margin: 10px 10px 0;
}
.inContainer .card.loading .grad {
	display: none;
}

.inContainer .card.loading img {
	height: 150px;
	background: #FFF;
}

.inContainer .card.loading .card-title > a {
	background: rgba(0, 0, 0, 0.1);
	color: transparent;
	display: inline-block;
	width: 70%;
	height: 20px;
}
.inContainer .card.loading .card-title > span.post-intro {
	display: inline-block;
	background: rgba(0, 0, 0, 0.1);
	color: transparent;
	width: 60%;
	height: 20px;
}

.empty {
	font-weight: bold;
	padding: 10px !important;
	background: #FFF;
}